NODE_ENV = "development" # "development" || "staging" || "production"

APP_NAME = "Qubiverse Discord Bot" 

# --- Logger
LOG_REQUEST = 'medium' # full, medium, false

#--- --- --- --- --- --- ---#


# --- DiscordJS Config
DISCORD_BOT_TOKEN = ''
DISCORD_CLIENT_ID = ''
